
.menu{
    background-color: rgb(0, 0, 0);
    height: 53px;
    width: 100%;
}

.menu ul{
    margin: 0;
    padding: 16px 60px;
    float: right;
}
.menu ul li{
    text-align: center;
    display: inline-block;
    margin-left: 30px;
}
.menu img{
    text-align: left;
    margin-left: 30px;
    margin-top: 1px;
}

.menu ul li a{
    font-family: 'Lato';
    font-size: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu ul li a:hover{
    color:rgb(145, 142, 142);
    transition: all 400ms ease;
}

.link{
    position: relative;
  }
  
.link:after{
  content: '';
  position: absolute;
  width: 0; height: 1px;
  display: block;
  margin-top: 1px;
  right: 0;
  background: rgb(145,142,142);
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
  }
   
.link:hover:after{
  width: 100%;
  left: 0;
  background: rgb(145,142,142);
}


.make_fullscreen{
  width:100%;
  height: 100%;  /*   ovo sa 703px promjenila   */
  overflow:hidden;
  position: relative;
  top: 0;
  left: 0; 
}

  video#myVideo{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  background: "Hello-World.mp4";
  background-size: cover;
  object-fit: cover;
  

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ParallaxVideo{ 
  height: 0%;
  padding-bottom: 0%;
  padding-top: 47%; 
}
.ParallaxVideo video{ 
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -999;
}
 .overlay-desc{
   text-align: center;
 }
.overlay-desc h1{
  background: rgba(0,0,0,0);
  position: absolute;
  top: 300px; right: 0; bottom: 0; left: 0;  /* promjenila top iz pixela  50%*/
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  color: #f1f1f1;
}

  .overlay-desc img{
    background: rgba(0,0,0,0);
    position: absolute;
    top: 330px; right: 0; bottom: 0; left: 0; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    color: #f1f1f1;
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .technologies {
    text-align: center;
    background: black;  
    height: 110px;
    width: 100%;
  }

  .technologies h1{
    font-family: 'Gruppo';
    width: 100%;
    color: white;
    padding: 35px 0px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    animation: left_to_right 3.5s ease;
    overflow: hidden;
  }
  @keyframes left_to_right {
    from {
      margin-left: -30%;
    }
    to {
      margin-left: 0%;
    }
  }
 
  canvas {
    background: #15043b;
  }

  .programming{
    position: absolute;
  }

  .square{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background : rgba(16, 67, 87, 0.652);
  }
 
  .square .photo{
    animation: left_to_right 5.5s ease;
  }

  .photos .webdeveloper img {
    width: 50%;
    float: left;
    opacity: 0;
  }
  .photos .webdeveloper:hover img{
    opacity: 1;
  }
  .photos .cybersecurity{
  display: block;
  }
  .photos .cybersecurity img{
    width: 50%;
    float: right;
    opacity: 0.0;
  }
  .photos .cybersecurity:hover img{
    width: 50%;
    float: right;
    opacity: 1;
  }
.photos .circle{
  height: 130px;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 50%;
  position: absolute;
  top: 190%; right: 0; bottom: 0; left: 0;  /* promjenila iz px */
  margin-left: auto;
  margin-right: auto;
}
.photos .circle h1{
  text-align: center;
  font-family: 'Gruppo';
  color:white;
}
.empty{
  background: black;
  width: 100%;
  min-height: 120px;
}
.overWebDev{
  position: absolute;
  top: 170%; right: 0; bottom: 0; left: 0;
  width:50%;
  margin-left: 0;
  margin-right: 0;
}
.overWebDev h3{
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: 'Gruppo';
}
.overWebDev p{
  margin-left:330px;
  margin-right:auto;
  color: white;
  font-family: 'Gruppo';
  font-size: 21px;
}

.photos .overWebDev .textOnHover{
  display: none;
  position: absolute;
}
@keyframes left_to_right1 {
  from {
    margin-left: 20%;
  }
  to {
    margin-left: 0%;
  }
}
.photos .overWebDev:hover .textOnHover {
  display: block;
  animation: left_to_right1 1.5s ease;  
}

.overCyberSec{
  position: absolute;
  top: 170%; right: 0; bottom: 0; left: 800px;
  float:left;
 
}
.overCyberSec h3{
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: 'Gruppo';
}
